{% extends 'core/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1 class="mb-6 text-3xl font-sans-serif font-bold text-center">{{ title }} </h1>

<form method="post" action="." enctype="multipart/form-data" class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg">
    {% csrf_token %}

    <div class="space-y-6">
        <!-- Category Dropdown -->
        <div>
            <label for="id_category" class="block text-lg font-medium text-gray-700">Category</label>
            {{ form.category }}
        </div>

        <!-- Item Name -->
        <div>
            <label for="id_name" class="block text-lg font-medium text-gray-700">Item Name</label>
            {{ form.name }}
        </div>

        <!-- Description -->
        <div>
            <label for="id_description" class="block text-lg font-medium text-gray-700">Description</label>
            {{ form.description }}
        </div>

        <!-- Price -->
        <div>
            <label for="id_price" class="block text-lg font-medium text-gray-700">Price</label>
            {{ form.price }}
        </div>

        <!-- Image -->
        <div>
            <label for="id_image" class="block text-lg font-medium text-gray-700">Image</label>
            {{ form.image }}
        </div>

    </div>

    {% if form.errors or form.non_field_errors %}
    <div class="mb-6 p-4 bg-red-100 text-red-700 rounded-lg">
        {% for field in form %}
            <p>{{ field.errors }}</p>
        {% endfor %}
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="mt-6 text-center">
        <button type="submit" class="bg-[#0C2A24] text-white py-3 px-6 rounded-lg font-medium transition-transform duration-300 ease-in-out hover:bg-[#0a1e1b] hover:scale-105">
            Submit
        </button>
    </div>
</form>
{% endblock %}
